* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --main-color: #eb4d4b;
}
#form,
#collect,
#color {
  padding: 20px;
  background-color: #eee;
  width: 80%;
  margin: 20px auto;
}
#form {
  display: grid;
  grid-template-columns: 80% 10%;
  gap: 10%;
}
#form #text {
  outline: none;
  border: none;
  height: 40px;
  font-size: 25px;
  width: 80%;
  padding-left: 10px;
}
#form #add,
.delete {
  background-color: white;
  border-radius: 10px;
  border: var(--main-color) 2px solid;
  transition: 0.5s;
  font-weight: bold;
}
#form #add:hover,
.delete:hover {
  background-color: var(--main-color);
  color: white;
}
#collect div {
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}
#collect div span {
  font-size: 25px;
  padding-left: 10px;
}
#collect div .delete {
  position: absolute;
  right: 10px;
  height: 30px;
}
#color {
  display: grid;
  width: 400px;
  grid-template-columns: repeat(5, 50px);
  gap: calc((100% - 250px) / 4);
  background-color: white;
}
#color button {
  height: 50px;
  border: none;
  border-radius: 50%;
  opacity: 0.3;
  transition: 0.5s;
}
#color button:hover,
.active {
  opacity: 1 !important;
}
